
/*inicio.html*/

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #fafafa;
}

#categorias {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.categoria {
  width: 220px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.categoria img {
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
}

.categoria h2 {
  margin-top: 10px;
  color: #333;
}

.categoria:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
